{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<div class="row" style="margin-top: 3rem;">
				<div class="card text-white bg-dark mt-5 mb-3 m-auto" style="max-width: 50rem; height: 24rem;">
					<div class="col text-center mt-4">
						<h1>Log In</h1>
						<div class="col-6 mt-3 mb-3 m-auto">
							<label for="inputEmail" class="form-label">Email</label>
							<input type="email" value="{{last_username}}" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
						</div>
						<div class="col-6 mb-4 m-auto">
							<label for="inputPassword" class="form-label">Password</label>
							<input type="password" name="password" class="form-control" id="inputPassword">
						</div>
						<input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}">
						<div class="col-6 ps-1 mt-4 m-auto form-check ">
							<button type="submit" class="btn btn-secondary col-12">Connexion</button>
						</div>
						<div class="col-8 ms-2 mt-4">
							<a {% if app.request.get('_route') == 'register' %} active {% endif %} href="register" style="text-decoration: none; color: white">Create an account</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
